<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sai Systems</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @* <link  href="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js" /> *@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TallySoftware.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
    
    <style>
        .field-validation-error, .validation-summary-errors {
            color: red;
        }
        .navbar-brand{
            font-weight:bold;
            color:#ffffff;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <div class="container-fluid">
                <div class="navbar-brand">Sai Systems</div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="mynavbar">
                    @if (@Context.Session.GetString("LoggedInUserName") != null)
                    {
                        <ul class="navbar-nav me-auto">
                            <li class="nav-item">
                                <a class="nav-link" onclick="location.href='@Url.Action("dashboard", "Staff")'" style="cursor:pointer">Dashboard</a>
                            </li>
                            @if (@Context.Session.GetString("LoggedInUserType") == "Admin")
                            {
                                <li class="nav-item">
                                    <a class="nav-link" onclick="location.href='@Url.Action("AddStaff", "Staff")'" style="cursor:pointer">Add Staff</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" onclick="location.href='@Url.Action("displayStaff", "Staff")'" style="cursor:pointer">Staff List</a>
                                </li>
                            }
                            
                            <li class="nav-item">
                                <a class="nav-link" onclick="location.href='@Url.Action("AddCustomer", "Customer")'" style="cursor:pointer">Add Customer</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" onclick="location.href='@Url.Action("Enquiry", "Staff")'" style="cursor:pointer">Add Enquiry</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" onclick="location.href='@Url.Action("DisplayCustomer", "Customer")'" style="cursor:pointer">Customer List</a>
                            </li>
                            
                        </ul>
                    }
                      @if (@Context.Session.GetString("LoggedInUserName") != null)
                                {
                    <form class="d-flex">
                        @* <input class="form-control me-2" type="text" placeholder="Search">
                        <button class="btn btn-primary" type="button">Search</button> *@
                        
                        <ul class="navbar-nav me-auto">
                            <li class="nav-item">
                              
                                    <p class="text-light my-0 p-2">Welcome @Context.Session.GetString("LoggedInUserName")</p>

                                
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" onclick="location.href='@Url.Action("Logout", "Authentication")'" style="cursor:pointer">Logout</a>

                            </li>
                            </ul>
                        </form>
                            }
                       
                     
                </div>
            </div>
    
        </nav>
    </header>
    <div class="container mx-auto mt-3">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted text-center">
        <div class="container">
            &copy; @DateTime.Now.Year - TallySoftware - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
