@model TallySoftware.Entity.Staff
@{
    ViewBag.Title = "Login";
    //Layout = "~/Views/Shared/LayoutPage1.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Card</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h2 class="text-center" style="color: #212529; font-family: 'Times New Roman'">Login</h2>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="login">
                                @using (Html.BeginForm("Login", "Authentication", FormMethod.Post ,new { id = "submitForm" }))
                                {
                                    <p class="text-center text-danger">@ViewBag.Error</p>
                                    <div class="mb-3">
                                        @Html.LabelFor(temp => temp.StaffName)<span class="text-danger mx-1">*</span>
                                        @Html.TextBoxFor(temp => temp.StaffName, new { @class = "form-control",autocomplete = "off" })
                                        @Html.ValidationMessageFor(temp => temp.StaffName)
                                    </div>
                                    <div class="mb-3">
                                        @Html.LabelFor(temp => temp.Password)<span class="text-danger mx-1">*</span>
                                        @Html.PasswordFor(temp => temp.Password, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(temp => temp.Password)
                                    </div>
                                    <button type="submit" class="btn btn-primary">Login</button>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
