@model TallySoftware.DTO.CustomerDTO

@{
    ViewData["Title"] = "Add Customer";
}
<!DOCTYPE html>
<html lang="en">
<body>
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h2 class="text-center" style="color: #212529; font-family: 'Times New Roman'">Add Customer</h2>
                    </div>
                    <div class="card-body">
                        @using (Html.BeginForm("AddCustomer", "Customer", FormMethod.Post))
                        {
                            <p class="text-center text-danger">@ViewBag.UserAlreadyExistMsg</p>
                           

                            <div class="mb-3">
                                @Html.LabelFor(temp => temp.Name)<span class="text-danger mx-1">*</span>
                                @Html.TextBoxFor(temp => temp.Name, new { @class = "form-control" ,autocomplete = "off"})
                                @Html.ValidationMessageFor(t=>t.Name)
                            </div>
                            <div class="mb-3">
                                @Html.LabelFor(temp => temp.Address)
                                @Html.TextBoxFor(temp => temp.Address, new {  @class = "form-control",autocomplete = "off" })
                                @Html.ValidationMessageFor(t=>t.Address)
                            </div>

                            <div class="mb-3">
                                @Html.LabelFor(temp => temp.PhoneNumber)<span class="text-danger mx-1">*</span>
                                @Html.TextBoxFor(temp => temp.PhoneNumber, new { @class = "form-control",autocomplete = "off" })
                                @Html.ValidationMessageFor(t=>t.PhoneNumber)
                            </div>

                            <div class="mb-3">
                                @Html.LabelFor(temp => temp.AdministrativeId)
                                @Html.TextBoxFor(temp => temp.AdministrativeId, new { @class = "form-control",autocomplete = "off" })
                                @Html.ValidationMessageFor(t => t.AdministrativeId)
                            </div>

                            <div class="mb-3">
                                @Html.LabelFor(temp => temp.CompanyName)
                                @Html.TextBoxFor(temp => temp.CompanyName, new { @class = "form-control",autocomplete = "off" })
                                @Html.ValidationMessageFor(t => t.CompanyName)
                            </div>

                            <div class="mb-3">
                                @Html.LabelFor(temp => temp.ContactPersonName)
                                @Html.TextBoxFor(temp => temp.ContactPersonName, new { @class = "form-control" ,autocomplete = "off"})
                                @Html.ValidationMessageFor(t => t.ContactPersonName)
                            </div>

                            <div class="mb-3">
                                @Html.LabelFor(temp => temp.CustomerTypeName)
                                @Html.DropDownListFor(temp => temp.CustomerTypeName, new SelectList(ViewBag.customerType), "Please Select", new { @class = "form-control" })
                                @Html.ValidationMessageFor(t=>t.CustomerTypeName)
                            </div>

                            <button type="submit" class="btn btn-primary">Submit</button>
                            <a class="btn btn-danger ms-1" href="/customer/displaycustomer">Cancel</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="add-btn">
        <div class="my-3">
            <i class="fa-solid fa-circle-plus enquiry-plus fa-2xl" onclick="location.href='@Url.Action("Enquiry", "staff")'"></i>
        </div>

    </div>

</body>
</html>



@* 
<h1 style="text-align:center">AddCustomer</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("AddCustomer", "Customer", FormMethod.Post, new { id = "submitForm" }))
        {
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Remark" class="control-label"></label>
                <input asp-for="Remark" class="form-control" />
                <span asp-validation-for="Remark" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdministrativeId" class="control-label"></label>
                <input asp-for="AdministrativeId" class="form-control" />
                <span asp-validation-for="AdministrativeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyName" class="control-label"></label>
                <input asp-for="CompanyName" class="form-control" />
                <span asp-validation-for="CompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactPersonName" class="control-label"></label>
                <input asp-for="ContactPersonName" class="form-control" />
                <span asp-validation-for="ContactPersonName" class="text-danger"></span>
            </div>
         
            <div class="form-group">
                <label asp-for="CustomerTypeName" class="control-label"></label>
                <input asp-for="CustomerTypeName" class="form-control" />
                <span asp-validation-for="CustomerTypeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        }
    </div>
</div>

<div>
    <a asp-action="Index">Back</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
 *@