@model List<TallySoftware.Entity.Customer>
@{
    ViewBag.Title = "Customer List";
    //Layout = "~/Views/Shared/LayoutPage1.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="my-3 text-center">
        <h2>Customers</h2>
    </div>
    @using (Html.BeginForm("DisplayCustomer", "Customer", FormMethod.Get))
    {


        <div class="my-3 d-flex justify-content-between container-fluid">
            <div class="w-25">
                <label>Customer Type: </label>
                @Html.DropDownList("customertype", new SelectList(ViewBag.customertypeName), "All", new { @class = "ms-1 p-1"})

                  </div>
            <div class="d-flex justify-content-between">
                <input class="form-control me-2" type="text" name="search">

                <button type="submit" value="submit" class="btn btn-secondary">Apply </button>
                <button type="reset" value="submit" class="btn btn-danger ms-1"
                        onclick="location.href='@Url.Action("ClearFilters", "Customer")'">
                    Clear
                </button>
            </div>

        </div>

    }
    <div class="table-responsive">
        <table class="table table-bordered">
            <tr class="table-secondary text-center">
                <th>SI.No</th>
                <th>Name</th>
                <th>Phone Number</th>
                <th>Address</th>
                <th>Administrative Id</th>
                <th>Company Name</th>
                <th>Contact Person Name</th>
                <th>Customer Type</th>
                <th>Action</th>
            </tr>
            @if (Model.Count > 0)
            {
                int count = 1;
                @foreach (var i in Model)
                {
                    <tr>
                        <td>@count</td>
                        <td>@Html.DisplayFor(temp => i.Name)</td>
                        <td>@Html.DisplayFor(temp => i.PhoneNumber)</td>
                        <td>@Html.DisplayFor(temp => i.Address)</td>
                        <td>@Html.DisplayFor(temp => i.AdministrativeId)</td>
                       
                        <td>@Html.DisplayFor(temp => i.CompanyName)</td>
                        <td>@Html.DisplayFor(temp => i.ContactPersonName)</td>
                        <td>@Html.DisplayFor(temp => i.CustomerTypeName)</td>
                        <td>
                            
                            <i class="fa-solid fa-user-pen text-success fa-xl" onclick="location.href='@Url.Action("EditCustomer", "Customer", new { Id =i.CustomerId })'">
                                
                            </i>

                            <i class="fa-solid fa-trash text-danger fa-xl" onclick="location.href='@Url.Action("DeleteCustomer", "Customer", new { Id =i.CustomerId })'"></i>

                        </td>
                    </tr>
                    count++;
                }
            }
            else
            {
                <tr>
                    <td colspan="7" class="text-center text-danger fw-bold">Customers Not Found</td>
                </tr>
            }
            
        </table>
        <div>
        <a class="btn btn-danger ms-1" href="/staff/admindashboard">back</a>
        </div>
    </div>
</body>
</html>
@{
    int prevpage = ViewBag.pageno - 1;
    if (prevpage <= 0)
    {
        prevpage = 1;
    }
    int nextpage = ViewBag.pageno + 1;
    if (nextpage > ViewBag.noofpage)
    {
        nextpage = ViewBag.noofpage;
    }
}
@if (@ViewBag.TotalCount > 0)
{
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link" href="/customer/displaycustomer?pageno=@prevpage">Prev</a>
        </li>
        @for (int i = 0; i < ViewBag.noofpage; i++)
        {
            if ((i + 1) == ViewBag.pageno)
            {
                <li class="page-item active">
                    <a class="page-link" href="/customer/displaycustomer?pageno=@(i+1)">@(i + 1)</a>

                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link" href="/customer/displaycustomer?pageno=@(i+1)">@(i + 1)</a>

                </li>
            }
        }
        <li class="page-item">
            <a class="page-link" href="/customer/displaycustomer?pageno=@nextpage">Next</a>

        </li>
    </ul>
}
