@model TallySoftware.DTO.CustomerDTO

@{
    ViewData["Title"] = "Edit Customer";
}
<!DOCTYPE html>
<html lang="en">


<body>
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h2 class="text-center" style="color: #212529; font-family: 'Times New Roman'">Edit Customer</h2>
                    </div>
                    <div class="card-body">
                        @using (Html.BeginForm("EditCustomer", "Customer", FormMethod.Post, new { id = "submitForm" }))
                        {
                            <p class="text-center text-danger">@ViewBag.UserAlreadyExistMsg</p>

                            <div class="d-none">
                                @Html.TextBoxFor(temp => temp.Customerid)
                            </div>
                            <div class="mb-3">
                                @Html.LabelFor(temp => temp.Name)<span class="text-danger mx-1">*</span>
                                @Html.TextBoxFor(temp => temp.Name, new { @class = "form-control" })
                                @Html.ValidationMessageFor(t=>t.Name)
                            </div>
                            <div class="mb-3">
                                @Html.LabelFor(temp => temp.Address)
                                @Html.TextBoxFor(temp => temp.Address, new {  @class = "form-control" })
                                @Html.ValidationMessageFor(t=>t.Address)
                            </div>

                            <div class="mb-3">
                                @Html.LabelFor(temp => temp.PhoneNumber)<span class="text-danger mx-1">*</span>
                                @Html.TextBoxFor(temp => temp.PhoneNumber, new { @class = "form-control" })
                                @Html.ValidationMessageFor(t=>t.PhoneNumber)
                            </div>

                            <div class="mb-3">
                                @Html.LabelFor(temp => temp.AdministrativeId)
                                @Html.TextBoxFor(temp => temp.AdministrativeId, new { @class = "form-control" })
                                @Html.ValidationMessageFor(t => t.AdministrativeId)
                            </div>

                            <div class="mb-3">
                                @Html.LabelFor(temp => temp.CompanyName)
                                @Html.TextBoxFor(temp => temp.CompanyName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(t => t.CompanyName)
                            </div>

                            <div class="mb-3">
                                @Html.LabelFor(temp => temp.ContactPersonName)
                                @Html.TextBoxFor(temp => temp.ContactPersonName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(t => t.ContactPersonName)
                            </div>

                            <div class="mb-3">
                                @Html.LabelFor(temp => temp.CustomerTypeName)
                                @Html.DropDownListFor(temp => temp.CustomerTypeName, new SelectList(ViewBag.customerType), "Please Select", new { @class = "form-control" })
                                @Html.ValidationMessageFor(t=>t.CustomerTypeName)
                            </div>

                            <button type="submit" class="btn btn-primary">Submit</button>
                            <a class="btn btn-danger ms-1" href="/staff/admindashboard">Cancel</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>


