@model TallySoftware.DTO.EnquiryDTO
@{
    ViewData["Title"] = "Add Enquiry";
}
    <div class="container my-5">
       <div class="row justify-content-center">
         <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center" style="color: #212529; font-family: 'Times New Roman'">Add Enquiry</h2>
                </div>
                <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="login">
                            @using (Html.BeginForm("Enquiry", "Staff", FormMethod.Post, new { id = "submitForm" }))
                            {
                                <p class="text-center text-danger">@ViewBag.LoginDataRequired</p>
                                <div class="mb-3">
                                        @Html.LabelFor(temp => temp.CustomerName)<span class="text-danger mx-1">*</span>
                                    @* @Html.TextBoxFor(temp => temp.CustomerName, new { @class = "form-control" }) *@
                                  @*   <select asp-for="CustomerName" class="form-control" /> *@
                                        @Html.DropDownListFor(temp => temp.CustomerName, new SelectList(ViewBag.CustomerNameList), "Please Select", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(temp => temp.CustomerName)
                                </div>
                                <div class="mb-3">
                                    @Html.LabelFor(temp => temp.RecruitmentName)<span class="text-danger mx-1">*</span>
                                    <div class="row">
                                        <div class="col-10">
                                            @Html.DropDownListFor(temp => temp.RecruitmentName,new SelectList(ViewBag.recruitmentType), "Please Select", new { @class = "form-control" })
                                            @Html.ValidationMessageFor(temp => temp.RecruitmentName)
                                        </div>
                                        <div class="col-2">
                                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#RecruitmentTypeModal">
                                                <i class="fa-solid fa-circle-plus fa-xl"></i>
                                            </button>
                                        </div>
                                    </div>

                                </div>
                                <div class="mb-3">
                                        @Html.LabelFor(temp => temp.Status)<span class="text-danger mx-1">*</span>
                                        <div class="row">
                                            <div class="col-10">
                                                @Html.DropDownListFor(temp => temp.Status, new SelectList(ViewBag.statusType), "Please Select", new { @class = "form-control" })
                                                @Html.ValidationMessageFor(temp => temp.Status)
                                            </div>
                                            <div class="col-2">
                                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#statusTypeModal">
                                                <i class="fa-solid fa-circle-plus fa-xl"></i>
                                            </button>
                                            </div>
                                        </div>
                                      
                                </div>
                                <div class="mb-3">
                                    @Html.LabelFor(temp => temp.Resource)<span class="text-danger mx-1">*</span>
                                  
                                    @Html.DropDownListFor(temp => temp.Resource, new SelectList(ViewBag.resource), "Please Select", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(temp => temp.Resource)
                                </div>
                                <div class="mb-3">
                                        @Html.LabelFor(temp => temp.Remark)<span class="text-danger mx-1">*</span>
                                    @Html.TextBoxFor(temp => temp.Remark, new { @class = "form-control",autocomplete = "off"})
                                        @Html.ValidationMessageFor(temp => temp.Remark)
                                </div>
                                <div class="mb-3">
                                        @Html.LabelFor(temp => temp.Schedule)<span class="text-danger mx-1">*</span>
                                    @Html.EditorFor(temp=>temp.Schedule, new { htmlAttributes = new { @class = "form-control datepicker", Placeholder = "select Date" } })
                                    @Html.ValidationMessageFor(temp => temp.Schedule)
                                </div>
                                    <div class="mb-3">
                                        @Html.LabelFor(temp => temp.Payment)<span class="text-danger mx-1">*</span>
                                    @Html.TextBoxFor(temp => temp.Payment, new { @class = "form-control" ,autocomplete = "off"})
                                        @Html.ValidationMessageFor(temp => temp.Payment)
                                    </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                                <a class="btn btn-danger ms-1" href="/staff/dashboard">Cancel</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
    <div class="add-btn">
    <div class="my-3">
        <i class="fa-solid fa-user-plus enquiry-plus fa-2xl" onclick="location.href='@Url.Action("Addcustomer", "customer")'"></i>
    </div>
    </div>
    </div>
    
 
<div class="modal" id="statusTypeModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Status Type</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
                <form method="get" asp-action="AddStatusType" asp-controller="Staff">
            <div class="modal-body">
                <label class="form-label">Status Type Name<span class="ms-1 text-danger">*</span></label>
             
                     <input type="text" class="form-control" name="statustypeName"
                           id="statustypeNameid" />
            </div>
                
            <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Add</button>
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>
            </form>
                @* } *@
        </div>
    </div>
</div>


<div class="modal" id="RecruitmentTypeModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Recruitment Type</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <form method="get" asp-action="AddRecruitmentType" asp-controller="Staff">
                <div class="modal-body">
                    <label class="form-label">Recruitment Type Name<span class="ms-1 text-danger">*</span></label>

                    <input type="text" class="form-control" name="recruitmenttypeName"
                           id="recruitmenttypeNameid" />
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Add</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>
            </form>
            @* } *@
        </div>
    </div>
</div>


































<@* div class="row">
    <div class="col-md-4">
        <form asp-action="Enquiry">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="status" class="control-label"></label>
                <select asp-for="status" class="form-control" />
                <span asp-validation-for="status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="remark" class="control-label"></label>
                <input asp-for="remark" class="form-control" />
                <span asp-validation-for="remark" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Schedule" class="control-label"></label>
                <input asp-for="Schedule" class="form-control" />
                <span asp-validation-for="Schedule" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Payment" class="control-label"></label>
                <input asp-for="Payment" class="form-control" />
                <span asp-validation-for="Payment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
 *@